KERNELS=="ttyUSB[0-9]*", SUBSYSTEMS=="usb-serial", DRIVERS=="ftdi_sio", ATTRS{latency_timer}=="16", ATTRS{port_number}=="0", MODE="0777", SYMLINK+="vectornav"
